
@charset "UTF-8";

@mixin sans($style) {
  @if $style=="regular" { font-family: "Helvetica Neue", "Roboto", sans-serif; font-weight: normal; }
  @if $style=="thin" { font-family: "HelveticaNeue-Light", "Roboto-Light", sans-serif-light, sans-serif; font-weight: normal; }
	@if $style=="thick" { font-family: "Helvetica Neue", "Roboto", sans-serif; font-weight: 500; }
}
@mixin sans_alt($style) {
  @if $style=="regular" { font-family: "Helvetica Neue", "Roboto", sans-serif; font-weight: normal; }
  @if $style=="thin" { font-family: "HelveticaNeue-Light", "Roboto-Light", sans-serif-light, sans-serif; font-weight: normal; }
	@if $style=="thick" { font-family: "Helvetica Neue", "Roboto", sans-serif; font-weight: 500; }
}

$text_color: rgba(0,0,0,.7);
$text_color_light: rgba(0,0,0,.5);
$text_color_light_reverse: rgba(255,255,255,.5);

$body_bg: #fff;
$brand: #0082ec;
$brand_trans: rgba(0,130,236,.2);
$brand_light: #eaeff4;
$brand_light_trans: rgba(234,239,244,.9);
$color_on_brand: #fff;

$brand2: #ed1c24;
$color_on_brand2: #fff;

$brand3: #36d317;
$color_on_brand3: #fff;

$nav_color: #fff;
$color_on_nav: #ed1c24;

$gnav_color_top: #fff;
$gnav_color_bottom: #fff;

$green: #2e9b3d;
$red: #ed3c3c;
$blue: #0077aa;
$cyan: #00978e;
$yellow: #fff247;

$width_desktop_wide: 1350px;
$width_desktop: 1100px;
$width_mobile: 900px;
$width_phone: 550px;
$width_phone_small: 375px;
$width_nav: 230px;
$height_nav: 50px;

@import "packages/ihealth_framework-engine/import";
@import "packages/ihealth_framework-mobile/import";

@import "client/app/common/app.scss";
@import "client/scss.scss";
@import "client/app/class.register.fastrackprogram/scss/class.register.fastrackprogram.scss";
@import "client/app/class.register.littlestarprogram/scss/class.register.littlestarprogram.scss";
@import "client/app/class.register.intenseprogram/scss/class.register.intenseprogram.scss";