
/**
 * Core.css - Common and reusable CSS classes
 */

/* Major DOM Elements */
body, div, main, figure, section, article, figcaption { overflow: auto; padding: 0; margin: 0; }
p { padding: 0 0 12px; margin: 0; }
p:last-child { padding-bottom: 0; }
a, .clickHandler { color: $brand2; text-decoration: none; }
a:hover { color: inherit; }

body {
  @include sans(regular);
  background: $body_bg;
  -webkit-font-smoothing: antialiased;
}
body, input, textarea, select { font-size: 15px; color: $text_color; }
body, input, textarea, label, select { line-height: 1.55; }

input, textarea, button, select, div, main, p, section, figcaption, h1, h2, h3, h4, h5, h6, strong, span {
  outline: none; }
input, textarea, button, select, label { @include sans_alt(regular); }
input, textarea, button, select {
  display: block; resize: none;
  width: 100%;
  font-size: 1em;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased; }
* { @include box-sizing(border-box); }
img { max-width: 100%; max-height: 100%; }
header, main, section, article, figure { position: relative; }

::selection { background: #fee8a6; color: $brand; }
::-moz-selection { background: #fee8a6; color: $brand; }
.bg-brand ::selection { background: $brand2; color: $color_on_brand2; }
.bg-brand ::-moz-selection { background: $brand2; color: $color_on_brand2; }
.bg-brand3 ::selection { color: $color_on_brand3; }
.bg-brand3 ::-moz-selection { color: $color_on_brand3; }

/* Important Common Elements */
.table { height: 100%; width: 100%; display: table !important; vertical-align: middle; }
.table .inside { display: table-cell; vertical-align: middle; }

.full-height { min-height: calc(100vh - #{$height_nav}); }

.wrapper-wide, .wrapper, .wrapper-mobile, .wrapper-mini, .wrapper-popup, .re-wrapper { margin: 0 auto; }
.wrapper-wide { max-width: 1440px; }
.wrapper { max-width: 1280px; }
.wrapper-mobile { max-width: 1024px; }
.wrapper-mini { max-width: 700px; }
.wrapper-popup { max-width: 400px; }

.transition-slower { transition: all 2s ease; -webkit-transition: all 2s ease; }
.transition-slow { transition: all 1s ease; -webkit-transition: all 1s ease; }
.transition-medium { transition: all .4s ease; -webkit-transition: all .4s ease; }
.transition { transition: all .25s ease; -webkit-transition: all .25s ease; }
.transition-fast { transition: all .15s ease; -webkit-transition: all .15s ease; }
.transition-bg { transition: background .25s ease; -webkit-transition: background .25s ease; }
.transition-opacity { transition: opacity .25s ease; -webkit-transition: opacity .25s ease; }
.round, .dot, .larr, .rarr { @include border-radius(50%); }
.dot {
  display: inline-block;
  background: rgba(0,0,0,.2);
  width: 8px; height: 8px; margin: 0 6px; }

.larr {
  position: relative; display: inline-block; vertical-align: middle;
  border: solid 1px $brand;
  width: 16px; height: 16px; margin: -3px 8px 0 0; }
.larr:before {
  display: block; content: " "; width: 0; height: 0;
  position: absolute; top: 4px; left: 5px;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-right: 5px solid $brand; }
.x {
  display: block; width: 40px; height: 40px;
  @include rotate(-45deg);
  position: absolute; top: 15px; right: 15px; left: auto; bottom: auto;
  cursor: pointer; }
.x:before, .x:after {
  position: absolute; left: 50%; top: 50%;
  @include border-radius(1px);
  background: #fff;
  display: block; content: " "; }
.x.black:before, .x.black:after { background: $text_color; }
.x:before { width: 28px; height: 2px; margin: -1px 0 0 -14px; }
.x:after { width: 2px; height: 28px; margin: -14px 0 0 -1px; }

.block { display: block; }
.inline-block { display: inline-block; }
.relative { position: relative; z-index: 2; }
.cursor, .clickHandler, button { cursor: pointer; }

.background { background-size: cover; background-position: 50%; }
.boxed { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.unselect { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; }
.ellipsis { display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.ellipsis.inline-block { display: inline-block; }
.overflow { overflow: hidden; }
.scroll { overflow-y: auto; overflow-x: hidden; }
.scroll-view { z-index: 5; overflow-y: auto; overflow-x: hidden; height: 100vh; }
.abs-full { position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 1; }
.fixed-full { position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 4; }

.clear:after { display: block; content: ' '; clear: both; visibility: hidden; }
.float-r { float: right; }
.float-l { float: left; }

.on-top { z-index: 10 !important; }
.on-top-middle { z-index: 20 !important; }
.on-top-higher { z-index: 30 !important; }

.padding { padding: 20px; }
.padding-mini { padding: 4px 0; }
.padding-both { padding: 10px 0; }
.padding-t { padding-top: 15px; }
.padding-b { padding-bottom: 15px; }
.padding-tb { padding-top: 15px; padding-bottom: 15px; }
.padding-none { padding: 0; }

.margin-t { margin-top: 15px; }
.margin-b { margin-bottom: 15px; }

.space-t { padding-top: 40px; }
.space-b { padding-bottom: 40px; }

.invis, .invis-0 { @include opacity(0); }
.invis-5 { @include opacity(.05); }
.invis-10 { @include opacity(.1); }
.invis-15 { @include opacity(.15); }
.invis-20 { @include opacity(.20); }
.invis-25 { @include opacity(.25); }
.invis-30 { @include opacity(.3); }
.invis-35 { @include opacity(.35); }
.invis-40 { @include opacity(.4); }
.invis-45 { @include opacity(.45); }
.invis-50 { @include opacity(.5); }
.invis-55 { @include opacity(.55); }
.invis-60 { @include opacity(.6); }
.invis-65 { @include opacity(.65); }
.invis-70 { @include opacity(.7); }
.invis-75 { @include opacity(.75); }
.invis-80 { @include opacity(.8); }
.invis-85 { @include opacity(.85); }
.invis-90 { @include opacity(.9); }
.invis-95 { @include opacity(.95); }

/* Colours */
.bg-brand { background-color: $brand !important; color: $color_on_brand; }
.ba-brand:before, .ba-brand:after { background-color: $brand; }
.bg-brand a { color: $color_on_brand; }

.bg-brand2 { background-color: $brand2 !important; color: $color_on_brand2; }
.ba-brand2:before, .ba-brand2:after { background-color: $brand2; }
.bg-brand2 a { color: $color_on_brand2; }

.bg-brand3 { background-color: $brand3 !important; color: $color_on_brand3; }
.ba-brand3:before, .ba-brand3:after { background-color: $brand3; }
.bg-brand3 a { color: $color_on_brand3; }

.bg-nav { background-color: $nav_color; color: $color_on_nav; }
.ba-nav:before, .ba-nav:after, .bg-nav .back:before, .bg-nav .back:after { background-color: $color_on_nav; }
.bg-nav a { color: $color_on_nav; }

.bg-none { background-color: none !important; }

.bg-brand-light { background-color: $brand_light; }
.dim { background-color: rgba(0,0,0,.1); }

.bg-blue { background-color: #0078ff; }
.bg-light { background-color: #ddd; }
.bg-white { background-color: #fff; }
.bg-dim { background-color: rgba(0,0,0,.25); }
.bg-bright { background-color: rgba(255,255,255,.25); }
.bg-overlay { background-color: rgba(255,255,255,.9); }

.brand { color: $brand; }
.border-brand { border-color: $brand; }
.svg-brand { stroke: $brand; }

.brand2 { color: $brand2; }
.border-brand2 { border-color: $brand2; }
.svg-brand2 { stroke: $brand2; }

.brand3 { color: $brand3; }
.border-brand3 { border-color: $brand3; }
.svg-brand3 { stroke: $brand3; }

.light { color: $text_color_light; }
.color-on-brand { color: $color_on_brand !important; }
.blue { color: #0078ff; }
.white { color: #fff; }


/* Typography */
h1, h2, h3, h4, h5, h6 { line-height: 1.2; padding: 0; margin: 0; }
h1 { font-size: 2.2em; }
h2 { font-size: 2em; }
h2 { font-size: 1.8em; }
h1, h2, h3 { @include sans_alt(regular); }
h4, h5, h6 {
  font-size: 1.25em;
  @include sans(regular); }

.alt { @include sans_alt(regular); }
.alt-thin { @include sans_alt(thin); }
.alt-thick { @include sans_alt(thick); }

.normal { @include sans(regular); }
.thin { @include sans(thin); }
.thick { @include sans(thick); }

.sub {
  @include sans_alt(thick);
  font-size: .75em; text-transform: uppercase; letter-spacing: .15em; }
.sub.center { text-indent: .15em; }

.right { text-align: right; }
.center { text-align: center; }
.uppercase { text-transform: uppercase; }

.spaced { letter-spacing: .2em; } .center .spaced { text-indent: .2em; }

.master-huge { font-size: 4em; }
.master-big { font-size: 3.4em; }
.master-middle { font-size: 2.8em; }
.master-small { font-size: 2.2em; }
.master-tiny { font-size: 1.6em; }

.bigger-title { font-size: 1.2em; }
.bigger-medium { font-size: 1.15em; }
.bigger { font-size: 1.1em; }

.smaller { font-size: .9em; }
.smallest { font-size: .85em; }
.tiny { font-size: .8em; }
.tiniest { font-size: .75em; }

.line-normal { line-height: 1.7; }
.line-average { line-height: 1.4; }
.line-short { line-height: 1.2; }
.line-single { line-height: 1; }

/* Animations */
.fade-in { @include animation(fade-in-animate .25s 1); }
@include keyframes(fade-in-animate) {
  0% { @include opacity(0); }
	100% { @include opacity(1); }
}
.fade-out {
	@include opacity(0);
	@include animation(fade-out-animate .3s 1); }
@include keyframes(fade-out-animate) {
  0% { @include opacity(1); }
	100% { @include opacity(0); }
}
.fade-down { @include animation(fade-down-animate .25s 1); }
@include keyframes(fade-down-animate) {
  0% { @include translate(0,-100px); @include opacity(0); }
	100% { @include translate(0,0); @include opacity(1); }
}
.fade-up { @include animation(fade-up-animate .25s 1); }
@include keyframes(fade-up-animate) {
	0% { @include translate(0,0); @include opacity(1); }
  100% { @include translate(0,-100px); @include opacity(0); }
}
.spin, .spin-medium, .spin-slow { @include transform-origin(50%, 50%); }
.spin { @include animation(spin-inifinite-animate .52s linear infinite); }
.spin-medium { @include animation(spin-inifinite-animate .8s linear infinite); }
.spin-slow { @include animation(spin-inifinite-animate 1.5s linear infinite); }

@include keyframes(spin-inifinite-animate) {
  0% { @include rotate(0deg); }
	100% { @include rotate(360deg); }
}
.pop-in {
	z-index: 50; display: block;
	@include opacity(1);
	@include animation(pop-in-animate .3s 1); }
@include keyframes(pop-in-animate) {
  0% { @include scale(.55); @include opacity(0); }
	100% { @include scale(1); @include opacity(1); }
}
.pop-out {
  z-index: 50; display: block;
	@include opacity(0);
	@include animation(pop-out-animate .3s 1); }
@include keyframes(pop-out-animate) {
  0% { @include scale(1); @include opacity(1); }
	100% { @include scale(.55); @include opacity(0); }
}
.corner-in {
	z-index: 50; display: block;
	@include opacity(1);
  @include transform-origin(100%, 0);
	@include animation(corner-in-animate .3s 1); }
@include keyframes(corner-in-animate) {
  0% { @include scale(.55); @include opacity(0); }
	100% { @include scale(1); @include opacity(1); }
}
.corner-out {
	z-index: 50; display: block;
	@include opacity(0);
  @include transform-origin(100%, 0);
	@include animation(corner-out-animate .3s 1); }
@include keyframes(corner-out-animate) {
	0% { @include scale(1); @include opacity(1); }
  100% { @include scale(.55); @include opacity(0); }
}
.route-from-bottom {
	z-index: 50; display: block;
  @include transform-origin(50%, 50%);
  @include box-shadow(none); @include transform(#{scale(1,1) translate(0,0)});
  @include animation(rfb-animate 1.25s 1); }
@include keyframes(rfb-animate) {
  0% { @include opacity(0); @include box-shadow(0 0 15px rgba(0,0,0,.05)); @include transform(#{scale(.85,.85) translate(0,1024px)}); }
  5% { @include opacity(1); }
  30% { @include transform(#{scale(.85,.85) translate(0,0)}); }
  60% { @include transform(#{scale(.85,.85) translate(0,0)}); }
	99% { @include box-shadow(0 0 15px rgba(0,0,0,.05)); @include transform(#{scale(1,1) translate(0,0)}); }
  100% { @include box-shadow(none); @include transform(#{scale(1,1) translate(0,0)}); }
}
.exit-from-bottom {
	z-index: 50; display: block;
  @include transform-origin(50%, 50%);
  @include opacity(0); @include box-shadow(none); @include transform(#{scale(.85,.85) translate(0,1024px)});
  @include animation(efb-animate .75s 1); }
@include keyframes(efb-animate) {
  0% { @include opacity(1); @include box-shadow(0 0 15px rgba(0,0,0,.05)); @include transform(#{scale(1,1) translate(0,0)}); }
  15% { @include transform(#{scale(.85,.85) translate(0,0)}); }
  48% { @include opacity(1); @include box-shadow(0 0 15px rgba(0,0,0,.05)); @include transform(#{scale(.85,.85) translate(0,0)}); }
  90% { @include opacity(1); @include box-shadow(0 0 15px rgba(0,0,0,.05)); @include transform(#{scale(.85,.85) translate(0,1180px)}); }
  100% { @include opacity(0); @include box-shadow(none); @include transform(#{scale(.85,.85) translate(0,1180px)}); }
}

/**
 *
 * CORE - Mobile Responsive
 */
.mobile { display: none; }

@media screen and (max-width: $width_mobile) {
  .desktop { display: none; }
  .mobile { display: block; }

  body, input, textarea { font-size: 15px; }
  #app-root.ios, #app-root.ios input, #app-root.ios textarea, #app-root.ios label {
    line-height: 1.45; }
  #app-root.android { @include sans(thin); }
}

@media screen and (max-width: $width_phone_small) {
  .padding { padding: 3.5%; }
  .space-t { padding-top: 7%; }
  .space-b { padding-bottom: 7%; }
}
