
.list.list-small {

  .item {
    padding: 8px 0; margin: 0 14px;
    border-top: none; border-left: none; border-right: none;
  }
  .item.item-divider {
    border: none;
    padding: 3px 15px; margin: -1px;
  }
}
