
/* Nav List - <RC.NavList/> */
ul.nav-list { padding-top: 10px; }
ul.nav-list, ul.nav-list h4 { line-height: 1.55; }
ul.nav-list h4 { padding: 0; }

ul.nav-list li { position: relative; padding: 0; }
ul.nav-list li .ui-tiny {
  position: absolute; left: 9px; top: 50%;
  margin: -14px 0 0 0; }

ul.nav-list li.link .block, ul.rc-list.nav-list li.listItem { padding: 10px 22px; }
ul.nav-list li.with-icon .block, ul.rc-list.nav-list li.listItem.with-icon { padding-left: 44px; }
ul.nav-list li.link:hover:not(.cur), ul.rc-list.nav-list li.listItem:hover:not(.cur) { background: rgba(0,0,0,.05); }
ul.nav-list.dark li.link:hover:not(.cur), ul.rc-list.nav-list.dark li.listItem:hover:not(.cur) { background: rgba(255,255,255,.05); }

ul.nav-list li.link.cur, ul.rc-list.nav-list li.listItem.cur { background: $brand; }
.bg-brand3 ul.nav-list li.link.cur, .bg-brand3 ul.rc-list.nav-list li.listItem.cur { background: $brand_trans; }
ul.nav-list li.link.cur, ul.rc-list.nav-list li.listItem.cur, ul.nav-list li.link.cur a, ul.rc-list.nav-list li.listItem.cur a { color: $color_on_brand !important; }

ul.nav-list li.link.with-icon .fa {
  left: 7px; margin: -7px 0 0 0;
}

ul.nav-list .type-listTitle {
  background: none; color: rgba(0,0,0,.35);
  padding: 30px 0 5px; }
ul.nav-list.dark .title, ul.nav-list.dark .type-listTitle { color: rgba(255,255,255,.35); }
ul.nav-list .type-listTitle {
  margin: 0 22px 12px;
  border-bottom: solid 1px rgba(0,0,0,.35); }
ul.nav-list.dark .title, ul.nav-list.dark .type-listTitle { border-color: rgba(255,255,255,.35); }


/* Nav List - <RC.List/> */
ul.rc-list.nav-list .date { display: none; }
ul.rc-list.nav-list .textTitle { font-size: 1em; }
ul.rc-list.nav-list .avatar { position: absolute; left: 6px; top: 6px; }

@media screen and (max-width: $width_phone) {
  ul.nav-list .type-listTitle { padding-top: 25px; }
  ul.rc-list.nav-list .avatar { top: 5px; }
}
