.idea
.meteor/local
.meteor/meteorite
node_modules
source/admin-base/client/css/.sass-cache
source/mobile-base/data
source/_packages_/ihealth-framework-ui

.npm

data-transfer/update/private
.DS_Store
