/* Major DOM Elements */

//content is moved from _core.scss and component
//由于对标签样式直接设置 会影响全局特别是第三方组件的样式 所以从组件里提出来
//组件的所有样式都应有class或id的限定

body, div, main, figure, section, article, figcaption {
  //overflow: auto; //conflict with bootstrap, FixedDataTable
  padding: 0;
  margin: 0;
}

p {
  padding: 0 0 12px;
  margin: 0;
}

p:last-child {
  padding-bottom: 0;
}

a, .clickHandler {
  color: $brand2;
  text-decoration: none;
}

a:hover {
  color: inherit;
}

body {
  @include sans(regular);
  background: $body_bg;
  -webkit-font-smoothing: antialiased;
}

body, input, textarea, select {
  font-size: 16px;
  color: $text_color;
}

body, input, textarea, label, select {
  line-height: 1.55;
}

input, textarea, button, select, div, main, p, section, figcaption, h1, h2, h3, h4, h5, h6, strong, span {
  outline: none;
}

input, textarea, button, select, label {
  @include sans_alt(regular);
}

input, textarea, button, select {
  display: block;
  resize: none;
  //width: 100%;  //conflict with bootstrap dropdown ,FixedDataTable
  font-size: 1em;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  max-height: 100%;
}

header, main, section, article, figure {
  position: relative;
}

::selection {
  background: #fee8a6;
  color: $brand;
}

::-moz-selection {
  background: #fee8a6;
  color: $brand;
}


/* Typography */
h1, h2, h3, h4, h5, h6 {
  //padding: 10px 0;  // affect bootstrap
  margin: 0;
}

h1 {
  font-size: 2.2em;
}

h2 {
  font-size: 2em;
}

h2 {
  font-size: 1.8em;
}

h1, h2, h3 {
  line-height: 1.4;
  @include sans_alt(regular);
}

h4, h5, h6 {
  font-size: 1.25em;
  line-height: 1.2;
  @include sans(regular);
}

strong, b {
  font-weight: 700;
}

ul { list-style-type: none; padding: 0; margin: 0; }



//todo only applied to webapp-framework component
input, textarea, select {
  background: #f0f0f0;
  border: solid 1px #fff;
  padding: 9px; margin: 0 0 2px;
  -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; border-radius: 0; }

input { height: auto; min-height: 0; }
textarea { height: auto; min-height: 100px; }
button {
  border: none;
  background: #444; color: #fff;
  padding: 11px 12px 12px; margin: 15px 0 0; }


option { padding: 0; margin: 0; }

label {
  display: inline-block;
  padding: 2px 5px;
  background: #444;
  color: #fff;
  font-size: 12px; }

