
.bp-item { text-align: right; padding-right: 0 !important; }
.bp-item .bp-res { width: 160px; margin: 0; float: left; }
.bp-item .hr-res {
  position: absolute; right: 5px;
  width: 100px; }

.bp-item .single, .bp-item .double {
  text-align: right; vertical-align: top;
  height: 32px; padding: 0; margin: 0;
}

.bp-item .single { font-size: 32px; line-height: 32px; }
.bp-item .double {
  position: relative; width: 50px;
  font-size: 12px; line-height: 14px;
}
.bp-item .double .one, .bp-item .double .two {
  position: absolute; left: 10px;
}
.bp-item .double .one { top: 4px; }
.bp-item .double .two { top: 16px; }

/**
  * This will override _core.scss
  */
.bp-card .bg-green, #bp-chart .zone0 { background-color: #69d356; }
.bp-card .bg-yellow, #bp-chart .zone1 { background-color: #f5d141; }
.bp-card .bg-orange, #bp-chart .zone2 { background-color: #e89544; }
.bp-card .bg-red, #bp-chart .zone3 { background-color: #dc4535; }

.bp-card .bg-green, .bp-card .bg-orange, .bp-card .bg-red { color: #fff; }

.bp-card .green { color: #69d356; }
.bp-card .yellow { color: #f5d141; }
.bp-card .orange { color: #e89544; }
.bp-card .red { color: #dc4535; }

.ct-chart.bp .green { stroke: #69d356 !important; }
.ct-chart.bp .yellow { stroke: #f5d141 !important; }
.ct-chart.bp .orange { stroke: #e89544 !important; }
.ct-chart.bp .red { stroke: #dc4535 !important; }

@media screen and (min-width: 340px) {
  .bp-item .hr-res { position: static; float: right; }
}
@media screen and (min-width: 370px) {
  .bp-item .bp-res, .bp-item .hr-res { float: none; margin: 0 10px 0 0; }
}

@media screen and (min-width: 430px) {
  .bp-item { text-align: left; }
  .bp-item .bp-res { width: 170px; }
  .bp-item:before {
    content: attr(data-time); display: block;
    height: 12px; margin: -7px 0 0;
    position: absolute; right: 12px; left: auto; top: 50%; bottom: auto;
    font-weight: 500; font-size: 12px; line-height: 14px; color: #bbb;
  }
}

/* Graph */
.bp-graph-title { padding: 0; margin: 0; }
.bp-graph-title.margin-t { padding: 10px 0 0; margin: 0; }
