#w1_face::after, #w1_face::before {
  position: absolute;
  content: "";
  transform-origin: 0 100%;
  /*-webkit-transform: rotateY(30deg);*/
}
#w1_face::after {
  width: 90%;
  height: 90%;
  left: 10%;
  top: 5%;
  background-color: #151414;
  border-radius: 100px;
  z-index: 3;
  /*-webkit-transform: rotateY(30deg);*/
}

#w1_face::before {
  width: 95%;
  height: 95%;
  left: 5%;
  top: 2.5%;
  background-color: #e0d1c0;
  border-radius: 100px;
  z-index: 2;
  /*-webkit-transform: rotateY(20deg);*/
}

#w1_face {
  position: relative;
  width: 130px;
  height: 130px;
  background-color: #585858;
  z-index: 1;
  /*-webkit-transform: rotateY(30deg);*/
/*
  border-top: 100px solid blue;
  border-right: 100px solid green;
*/
  border-radius: 100px;
/*  position: absolute;*/
}

.shape {
  /*zoom: 200%;*/
  padding: 20px;
  margin: 0px;
  display: block;

}

#w1_strap_t1, #w1_strap_b1 {
  position: absolute;
  width: 40%;
  height: 30%;
  left: 30%;
  background-color: #4b4b4b;
}

#w1_strap_t1 {
  top: -20%;
}

#w1_strap_b1 {
  bottom: -20%;
}

#w1_foot_l, #w1_foot_r {
  position: absolute;
  width: 15%;
  height: 22%;
  top: 38%;
  background-color: #40cbd6;
  z-index: 4;
  /*-webkit-transform: rotateY(30deg);*/
}

#w1_foot_l {
  position: relative;
  left: 32%;
  border-radius: 30% 30% 100% 60%;
}

#w1_foot_l::before, #w1_foot_l::after, #w1_foot_r::before, #w1_foot_r::after {
  position: absolute;
  content: "";
  transform-origin: 0 100%;
  width: 20px;
  height: 20px;
  z-index: 5;
  /*-webkit-transform: rotateY(30deg);*/
}

#w1_foot_l::after {
  top: -25%;
  left: 0%;
  width: 30%;
  height: 10%;
  border-left: 13px solid transparent;
  border-bottom: 5px solid #40cbd6;
}

#w1_foot_l::before {
  top: -30%;
  left: 75%;
  width: 25%;
  height: 25%;
  border-radius: 40%;
  background-color: #40cbd6;
}

#w1_foot_r {
  left: 52%;
  top: 27%;
  border-radius: 30% 30% 50% 80%;
}


#w1_foot_r::after {
  top: -25%;
  right: 0%;
  width: 30%;
  height: 10%;
  border-right: 12px solid transparent;
  border-bottom: 5px solid #40cbd6;
}

#w1_foot_r::before {
  top: -30%;
  left: 5%;
  width: 25%;
  height: 25%;
  border-radius: 40%;
  background-color: #40cbd6;

}
#disp_steps {
  font-family: 'Jura', sans-serif;
  position: absolute;
  width: 40%;
  height: 30%;
  left: 34%;
  top: 57%;
  color: #67c5e2;
  z-index: 4;
  /*-webkit-transform: rotateY(30deg);*/
}
