
/* Nav States */
#app-body { padding-top: $height_nav; }

#app-body { margin-left: $width_nav; }
#app-header { padding-left: $width_nav; }
#popup-master { top: $height_nav; left: $width_nav; }


/* Nav */
#app-nav, #app-nav-inner {
  bottom: 0; left: 0; right: auto;
  width: $width_nav; }
#app-nav { position: fixed; z-index: 1000; top: 0; }
#app-nav-inner { position: absolute; z-index: 1; top: $height_nav; }
#app-nav-clickHandler { position: absolute; top: 0; left: $width_nav; right: 0; bottom: 0; }
#app-nav-back {
  display: none;
  background: rgba(0,0,0,.5);
  position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 999; }

.nav-height, .nav-height-button { height: $height_nav; }
.nav-padding { padding-top: $height_nav; }
.nav-height-button {
  color: #fff;
  display: block; position: relative;
  width: $height_nav;


  padding-top: 15px;
  margin-left:20px;
}
.nav-height-button .fa { font-size: 1.22em; }
.nav-height-button:hover { color: rgba(255,255,255,.55); }

#app-nav .user-login {
  position: absolute; left: 0; right: auto; top: 0; bottom: auto; z-index: 5;
  width: $width_nav;
  background: $brand; color: $color_on_brand; }
#app-nav .user-login .name {
  font-size: 1em; text-indent: -1px;
  padding: 0; }
#app-nav .user-login .inner { padding: 9px 0 0 73px; }
#app-nav .user-login .avatar {
  position: absolute; top: 50%; left: 14px;
  margin: -25px 0 0;
}


/* Header */
#app-header {
  position: fixed; top: 0; bottom: auto; left: 0; right: 0; z-index: 100;
  background-color: $brand; }
#app-header-inner { padding: 8px 15px; }

.app-header-nav-wrap{
  float:right;
  margin-right:100px;
}


#app-header .logo { width: auto; max-height: 100%; }

#app-header .menu {
  width: 60px; height: $height_nav;
  position: absolute; left: -$width_nav; top: 0;
  cursor: pointer; }

#app-header .menu span.hamburger, #app-header .menu span.hamburger:before, #app-header .menu span.hamburger:after {
  width: 22px; height: 3px;
  background: $color_on_brand;
  position: absolute; top: 50%; left: 50%; z-index: 5; }
#app-header .menu span.hamburger { margin: -2px 0 0 -11px; }
#app-header .menu span.hamburger, #app-header .menu span.hamburger:before, #app-header .menu span.hamburger:after { content: " "; display: block; }
#app-header .menu span.hamburger:before { margin: -9px 0 0 -11px; }
#app-header .menu span.hamburger:after { margin: 5px 0 0 -11px; }


/* Mobile Responsive */
@media screen and (max-width: $width_desktop_wide) {
  #app-root.nav-open #app-body { margin-left: $width_nav; }
  #app-root.nav-open #app-header { padding-left: $width_nav; }
  #app-root.nav-open #popup-master { top: $height_nav; left: $width_nav; }

  #app-root.nav-closed #app-body { margin-left: 0; }
  #app-root.nav-closed #app-header { padding-left: 0; }
  #app-root.nav-closed #app-header .menu { left: 0; }
  #app-root.nav-closed #app-nav { @include translate(-$width_nav, 0); }

  #app-root.nav-closed #app-nav-back { @include opacity(0); }
  #app-root.nav-closed.fin #app-nav-back { display: none; }

  #app-header .menu { left: $width_nav; }
  #app-header-inner { padding-left: 70px; }
}

@media screen and (max-width: $width_desktop) {

  #app-root.nav-open #app-body { margin-left: 0; }
  #app-root.nav-open #app-header { padding-left: $width_nav; }
  #app-root.nav-open #app-header-inner { padding-left: 15px; }
  #app-root.nav-open #app-header .menu { @include opacity(0); }

  #app-root.nav-open #app-nav { width: 100%; right: 0; }
  #app-root.nav-open #app-nav-back { @include opacity(1); display: block; }
  #app-root.nav-open #app-nav-inner { @include box-shadow(0 0 15px rgba(0,0,0,.15)); }
}

@media screen and (max-width: $width_mobile) {

  #app-header { background-color: $brand; @include box-shadow(0 1px rgba(0,0,0,.15)); }
  #app-header .menu:hover { background-color: rgba(0,0,0,.15); }
  #app-header .menu span, #app-header .menu span:before, #app-header .menu span:after { background: #fff; }

  #app-root.nav-open #app-header-outer {
    @include opacity(0); @include translate(100px, 0);

  }
}

@media screen and (max-width: $width_phone) {
  #app-root.nav-open #app-header { margin-left: 0; }
  #app-root.nav-open #app-header-inner { @include opacity(0); }
}

.padding-wrap {
  padding: 20px 10px 40px
}
