

.flat input, .flat textarea { border: none; }
#app-root.ios .select select, #app-root.android .select select { padding-left: 6px; }


button.bg-white { background: #fff; color: #444; }

.has-error input, .has-error textarea { border-color: red; }


/* Regular */
.input-form.regular.with-label { margin-top: 20px; }

/* Label Inside */
.input-form.label-inside.with-label { position: relative; }
.input-form.label-inside.with-label label {
  position: absolute; left: 10px; top: 12px;
  width: 100px; padding: 0;
  background: #f0f0f0; color: #aaa;
  font-size: 1em; }
.input-form.label-inside.with-label input { padding: 10px 9px 10px 119px; }

/* Sizes */
.input-form.size-normal, button.size-normal { width: 255px; }
.input-form.size-half, button.size-half { width: 50%; float: left; }
.input-form.size-third, button.size-third { width: 33.3333%; float: left; }

.input-form.size-half .inner, .input-form.size-third .inner { padding: 0 1px; }
.input-form:first-child .inner { padding-left: 0; }
.input-form:last-child .inner { padding-right: 0; }

/* Select */
.select { position: relative; }
.select select { border-right: 25px solid #f0f0f0; }
.select:before, .select:after {
  content: " "; display: block;
  width: 0; height: 0;
  position: absolute; top: 50%; left: auto; right: 10px; }
.select:before {
  margin: -9px 0 0 -5px;
	border-left: 5px solid transparent; border-right: 5px solid transparent; border-bottom: 6px solid rgba(0,0,0,.7); }
.select:after {
  margin: 3px 0 0 -5px;
	border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 6px solid rgba(0,0,0,.7); }
