
/* BP & HR */
.ct-chart.bp .ct-grid, .ct-chart.heartrate .ct-grid {
  stroke: rgba(0,0,0,.1);
  stroke-width: 1px;
  stroke-dasharray: 3px;
}

.ct-chart.bp .ct-bar, .ct-chart.bp  .ct-line, .ct-chart.bp .ct-point, .ct-chart.bp .ct-slice-donut {
  stroke: rgba(0,0,0,.1);
}

.ct-chart.heartrate .ct-bar, .ct-chart.heartrate  .ct-line, .ct-chart.heartrate .ct-point, .ct-chart.heartrate .ct-slice-donut {
  stroke: rgba(0,130,236,.3);
}
.ct-chart.heartrate .ct-area { fill: #0082ec; }

.ct-chart.bp .ct-point.green { stroke: #69d356; }
.ct-chart.bp .ct-point.yellow { stroke: #f5d141; }
.ct-chart.bp .ct-point.orange { stroke: #e89544; }
.ct-chart.bp .ct-point.red { stroke: #e94525; }
.ct-chart.bp .ct-point.danger { stroke: #ec1700; }

.ct-label { letter-spacing: -.25px; }
.ct-chart-line, .ct-chart-bar { overflow: visible; }

/* AM */
.ct-chart.AM .ct-bar { stroke-width: 4px; }
.ct-chart.AM .ct-series-a .ct-bar { stroke: #664bc4; }
.ct-chart.AM .ct-series-b .ct-bar { stroke: #eb43e2; }
.ct-chart.AM .ct-series-c .ct-bar { stroke: #f6a33c; }
