
#measuring-bp svg, #pressure-display:not(.fin) {
  margin: -120px 0 0 -120px;
  width: 240px; height: 240px;
  position: absolute; top: 50%; left: 50%; }
#measuring-bp svg path { position: static; left: auto; top: auto; margin: 0; }
#pressure-display.fin { padding: 0 0 40px; }

#pressure-display .fa-cog {
  top: auto; left: auto; bottom: 0; right: 0;
  font-size: 35px; color: rgba(0,0,0,.1);
  width: 35px; height: 35px; }

/* BP5 Help Guide */
#bp5-instructions { font-size: 1.9em; color: rgba(0,0,0,.55); }
.bp5-help {
  width: 90%; max-width: 480px; padding: 68% 0 4%; margin: 0 auto;
  background-size: 100% auto; background-repeat: no-repeat; background-position: 50% 0; }
.bp5-help.guide0 { background-image: url(/packages/ihealth_devices-ui/assets/bp5/help1.jpg); }
.bp5-help.guide1 { background-image: url(/packages/ihealth_devices-ui/assets/bp5/help2.jpg); }
.bp5-help.guide2 { background-image: url(/packages/ihealth_devices-ui/assets/bp5/help3.jpg); }
.bp5-help.guide3 { background-image: url(/packages/ihealth_devices-ui/assets/bp5/help4.jpg); }
.bp5-help.guide4 { background-image: url(/packages/ihealth_devices-ui/assets/bp5/help5.png); }

#bp5-instructions .dots-root {
  position: absolute; bottom: 2.5%; left: 50%; right: auto; top: auto; z-index: 100;
  width: 280px; margin: 0 0 0 -140px; }

/* Zones */
#bp-chart { padding: 40px 30px 30px; }
#bp-chart .inner {
  position: relative; padding: 100% 0 0;
  border-left: solid 1px #444; border-bottom: solid 1px #444;
}

#bp-chart .zone { position: absolute; bottom: 0; left: 0; top: auto; right: auto; }
#bp-chart .zone0 { background-color: #69d356; width: 36%; height: 36%; z-index: 5; }
#bp-chart .zone1 { background-color: #f5d141; width: 55%; height: 55%; z-index: 4; }
#bp-chart .zone2 { background-color: #e89544; width: 74%; height: 74%; z-index: 3; }
#bp-chart .zone3 { background-color: #dc4535; width: 93%; height: 93%; z-index: 2; }

#bp-chart .zone .labelX, #bp-chart .zone .labelY {
  position: absolute; bottom: auto; right: auto;
  line-height: 1.2;
  width: 40px; }

#bp-chart .zone .labelX {
left: 100%; top: 100%;
margin: 5px 0 0 -10px; }
#bp-chart .zone .labelY {
  left: -50px; top: -10px;
  text-align: right; }

#bp-chart .zone3 .labelX, #bp-chart .zone3 .labelY { width: 78px; }
#bp-chart .zone3 .labelX { text-align: left; }
#bp-chart .zone3 .labelY { left: -86px; }

#bp-chart .bubble {
  position: absolute; top: auto; right: auto; z-index: 10;
  font-size: 11px; text-align: center;
  width: 84px; height: 56px;
  padding: 28px 0 0; margin: 0 0 2px -45px;
  background: #fff; }
#bp-chart .bubble:before {
  display: block; content: " ";
  position: absolute; left: 50%; bottom: -11px;
	width: 0; height: 0; margin: 0 0 0 -8px;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 13px solid #fff;
}

#bp-chart .bubble.pos0 {
  font-size: 12px;
  padding: 34px 0 0; height: 50px;
  left: 35%; bottom: 35%; }
#bp-chart .bubble.pos1 { left: 53%; bottom: 53%; }
#bp-chart .bubble.pos2 { left: 71%; bottom: 71%; }
#bp-chart .bubble.pos3 { left: 89%; bottom: 89%; }

/* BP Result */
.bp-fin {
  position: relative; vertical-align: bottom;
  max-width: 480px; padding: 0 5%; margin: 0 auto; }
.bp-fin:first-child { padding-top: 25px; padding-bottom: 35px; }

.bp-fin .clear {
  padding: 20px 0;
  border-bottom: solid 1px rgba(0,0,0,.35); }

.bp-fin small {
  font-size: 17px; line-height: 20px; color: rgba(0,0,0,.25);
  padding: 12px 2px 0; }
.bp-fin .type {
  display: inline-block; float: left; padding: 0;
  font-size: 39px; }
.bp-fin .val {
  display: inline-block; float: right; padding: 0 3px 0 0;
  font-size: 85px; line-height: 85px;
}

#measuring-bp .processing-number { font-size: 4.4em; }

svg.svg-circle circle { stroke-dasharray: 1000; stroke-width: 4px; }
svg.svg-circle .line:not([stroke-dashoffset]) { stroke-dashoffset: 1000; }
svg.svg-circle .full:not([stroke-dashoffset]) { stroke-dashoffset: 0; }
svg.svg-circle circle.line { z-index: 2; }
svg.svg-circle circle.full { z-index: 1; stroke: rgba(0,0,0,.05); }

@media screen and (min-height: 620px) {
  #measuring-bp svg, #pressure-display:not(.fin) {
    width: 360px; height: 360px;
    margin: -180px 0 0 -180px; }
  svg.svg-circle circle { stroke-dasharray: 1500; stroke-width: 15px; }
  svg.svg-circle .line:not([stroke-dashoffset]) { stroke-dashoffset: 1500; }
}
