
#measuring-bp svg, #pressure-display {
  margin: -120px 0 0 -120px;
  width: 240px; height: 240px;
  position: absolute; top: 50%; left: 50%; }
#measuring-bp svg path { position: static; left: auto; top: auto; margin: 0; }

#pressure-display.fin {
  margin: -160px 0 0 -140px;
  width: 280px;
}

/* Zones */
#measuring-bp .result-graph {
  position: absolute; bottom: 0; left: 0; right: 0;
}
#measuring-bp .result-graph p {
  display: block; float: left; position: relative;
  width: 16.6666667%; height: 50px; }
#measuring-bp .result-graph .very-low { background-color: #57bd45; }
#measuring-bp .result-graph .low { background-color: #76d94f; }
#measuring-bp .result-graph .middle { background-color: #e9e93b; }
#measuring-bp .result-graph .high { background-color: #e8c344; }
#measuring-bp .result-graph .very-high { background-color: #dc5c35; }
#measuring-bp .result-graph .danger { background-color: #cf2828; }
#measuring-bp .result-graph p:last-child { border-right: none; }

#measuring-bp .result-graph .fa-check {
  position: absolute; top: 50%; left: 50%;
  color: #fff;
  margin: -14px 0 0 -14px;
}

.bp-fin {
  padding: 0 120px 0 0;
  font-size: 70px; text-align: left;
}
.bp-fin .super {
  display: block; margin: 10px 2px -5px;
  font-size: 15px; }
#measuring-bp .processing-number { font-size: 4.4em; }

#pressure-display .heartrate {
  width: 100px; height: 73px; padding: 17px 0 0; margin: -55px 0 0;
  position: absolute; top: 50%; right: 0;
  font-size: 34px; color: #fff;
  background-image: url(/packages/ihealth_devices-ui/assets/heartrate.png); background-size: 100px 90px; background-repeat: no-repeat;
}

svg.svg-circle circle { stroke-dasharray: 1000; stroke-width: 4px; }
svg.svg-circle .line:not([stroke-dashoffset]) { stroke-dashoffset: 1000; }
svg.svg-circle .full:not([stroke-dashoffset]) { stroke-dashoffset: 0; }
svg.svg-circle circle.line { z-index: 2;  }
svg.svg-circle circle.full { z-index: 1; stroke: rgba(0,0,0,.05); }

@media screen and (min-height: 620px) {
  #measuring-bp svg, #pressure-display {
    width: 360px; height: 360px;
    margin: -180px 0 0 -180px; }
  svg.svg-circle circle { stroke-dasharray: 1500; stroke-width: 15px; }
  svg.svg-circle .line:not([stroke-dashoffset]) { stroke-dashoffset: 1500; }

  #pressure-display.fin { height: 300px; width: 440px; margin: -210px 0 0 -220px; }
  #pressure-display .heartrate {
    width: 180px; height: 130px; padding: 32px 0 0; margin: -70px 0 0;
    font-size: 58px;
    background-size: 180px 162px; }
  .bp-fin { font-size: 100px; }
}
