
/* Avatar */
.avatar {
  width: 48px; height: 37px; float: left;
  text-align: center;
  padding: 11px 0 0; margin: -1px 8px 0 0;
  background-color: rgba(125,125,125,.5); }
.avatar.none { background-color: $brand2; }

.fa {
  position: absolute; left: 50%; top: 50%; right: auto; bottom: auto;
  text-align: center;
  width: 30px; height: 14px; margin: -7px 0 0 -15px;
}
