body{
    background: #f5f5f5;
}
body.modal-open{
    overflow : auto !important;
}

.container{
    width : auto !important;
    max-width: 96% !important;

}

.note-editor.note-frame{
    border-color: #e5e6e7;
    border-radius: 0;
}

.kg-hide{
    display : none !important;
}

.no_margin{
    margin:0 !important;
}

.no_margin_bottom{
    margin-bottom:0 !important;
}
*{
    //word-break: break-all !important;
}