
.bp-item { text-align: right; padding-right: 0 !important; }
.bp-item .bp-res { width: 160px; margin: 0; float: left; }
.bp-item .hr-res {
  position: absolute; right: 5px;
  width: 100px; }

.bp-item .single, .bp-item .double {
  text-align: right; vertical-align: top;
  height: 32px; padding: 0; margin: 0;
}

.bp-item .single { font-size: 32px; line-height: 32px; }
.bp-item .double {
  position: relative; width: 50px;
  font-size: 12px; line-height: 14px;
}
.bp-item .double .one, .bp-item .double .two {
  position: absolute; left: 10px;
}
.bp-item .double .one { top: 4px; }
.bp-item .double .two { top: 16px; }

/**
  * This will override _core.scss
  */
.bp-card .bg-green, #bp-chart .zone0 { background-color: #69d356; }
.bp-card .bg-yellow, #bp-chart .zone1 { background-color: #f5d141; }
.bp-card .bg-orange, #bp-chart .zone2 { background-color: #e89544; }
.bp-card .bg-red, #bp-chart .zone3 { background-color: #dc4535; }

.bp-card .bg-green, .bp-card .bg-orange, .bp-card .bg-red { color: #fff; }

.bp-card .green { color: #69d356; }
.bp-card .yellow { color: #f5d141; }
.bp-card .orange { color: #e89544; }
.bp-card .red { color: #dc4535; }

.ct-chart.bp .green { stroke: #69d356 !important; }
.ct-chart.bp .yellow { stroke: #f5d141 !important; }
.ct-chart.bp .orange { stroke: #e89544 !important; }
.ct-chart.bp .red { stroke: #dc4535 !important; }

@media screen and (min-width: 340px) {
  .bp-item .hr-res { position: static; float: right; }
}
@media screen and (min-width: 370px) {
  .bp-item .bp-res, .bp-item .hr-res { float: none; margin: 0 10px 0 0; }
}

@media screen and (min-width: 430px) {
  .bp-item { text-align: left; }
  .bp-item .bp-res { width: 170px; }
  .bp-item:before {
    content: attr(data-time); display: block;
    height: 12px; margin: -7px 0 0;
    position: absolute; right: 12px; left: auto; top: 50%; bottom: auto;
    font-weight: 500; font-size: 12px; line-height: 14px; color: #bbb;
  }
}

/* Graph */
.bp-graph-title { padding: 0; margin: 0; }
.bp-graph-title.margin-t { padding: 10px 0 0; margin: 0; }


/**
 * @@@@
 * Chart
 * @@@@
 */

#measuring-bp { z-index: 5000; }
 #measuring-bp svg, #pressure-display:not(.fin) {
   margin: -120px 0 0 -120px;
   width: 240px; height: 240px;
   position: absolute; top: 50%; left: 50%; }
 #measuring-bp svg path { position: static; left: auto; top: auto; margin: 0; }
 #pressure-display.fin { padding: 0 0 40px; }

 #pressure-display .fa-cog {
   position: absolute; top: auto; left: auto; bottom: 0; right: 0;
   font-size: 35px; color: rgba(0,0,0,.1);
   width: 35px; height: 35px; }

 /* Device Help Guide */
 .devices-device-help {
   font-size: 1.45em; color: rgba(0,0,0,.55);
   width: 90%; max-width: 480px; padding: 68% 0 4%; margin: 0 auto;
   background-size: 100% auto; background-repeat: no-repeat; background-position: 50% 0;
 }

 /* BP5 Help Guide */
 #bp5-instructions { z-index: 5000; font-size: 1.45em; color: rgba(0,0,0,.55); }
 .bp5-help {
   width: 90%; max-width: 480px; padding: 68% 0 4%; margin: 0 auto;
   background-size: 100% auto; background-repeat: no-repeat; background-position: 50% 0; }
 .bp5-help.guide0 { background-image: url(/packages/ihealth_devices-ui-bp/assets/bp5/help1.jpg); }
 .bp5-help.guide1 { background-image: url(/packages/ihealth_devices-ui-bp/assets/bp5/help2.jpg); }
 .bp5-help.guide2 { background-image: url(/packages/ihealth_devices-ui-bp/assets/bp5/help3.jpg); }
 .bp5-help.guide3 { background-image: url(/packages/ihealth_devices-ui-bp/assets/bp5/help4.jpg); }
 .bp5-help.guide4 { background-image: url(/packages/ihealth_devices-ui-bp/assets/bp5/help5.png); }

 #bp5-instructions .dots-root, .device-help .dots-root {
   position: absolute; bottom: 2.5%; left: 50%; right: auto; top: auto; z-index: 100;
   width: 280px; margin: 0 0 0 -140px; }

 /* Zones */
 #bp-chart { padding: 40px 30px 30px; }
 #bp-chart .inner {
   position: relative; padding: 100% 0 0;
   border-left: solid 1px #444; border-bottom: solid 1px #444;
 }

 #bp-chart .zone { position: absolute; bottom: 0; left: 0; top: auto; right: auto; }
 #bp-chart .zone0 { width: 40%; height: 40%; z-index: 5; }
 #bp-chart .zone1 { width: 60%; height: 60%; z-index: 4; }
 #bp-chart .zone2 { width: 80%; height: 80%; z-index: 3; }
 #bp-chart .zone3 { width: 100%; height: 100%; z-index: 2; }

 #bp-chart .zone .labelX, #bp-chart .zone .labelY {
   position: absolute; bottom: auto; right: auto;
   line-height: 1.2;
   width: 40px; }

 #bp-chart .zone .labelX {
   left: 100%; top: 100%;
   margin: 4px 0 0 -4px; }
 #bp-chart .zone .labelY {
   left: -48px; top: -10px;
   text-align: right; }

 #bp-chart .zone3 .labelX, #bp-chart .zone3 .labelY { width: 78px; }
 #bp-chart .zone3 .labelX { text-align: left; margin-left: -20px; }
 #bp-chart .zone3 .labelY { left: -84px; }

 #bp-chart .bubble {
   box-shadow: 0 0 10px rgba(0,0,0,.2);
   position: absolute; top: auto; right: auto; z-index: 10;
   font-size: 11px; line-height: 1; text-align: center;
   width: 80px; height: 80px;
   padding: 28px 0 0; margin: 0 0 10px -41px;
   background: #fff; }
 #bp-chart .bubble:before {
   display: block; content: " ";
   position: absolute; left: 50%; bottom: -11px;
 	width: 0; height: 0; margin: 0 0 0 -8px;
 	border-left: 8px solid transparent;
 	border-right: 8px solid transparent;
 	border-top: 13px solid #fff;
 }

 /* BP Result */
 .bp-fin {
   font-size: 13px;
   position: relative; vertical-align: bottom;
   max-width: 480px; padding: 0 5%; margin: 0 auto; }
 .bp-fin:first-child { padding-top: 25px; padding-bottom: 35px; }

 .bp-fin .clear {
   padding: 0;
   border-bottom: solid 1px rgba(0,0,0,.35); }

 .bp-fin small {
   font-size: 14px; line-height: 14px; color: rgba(0,0,0,.25);
   padding: 12px 2px 0; }
 .bp-fin .type {
   display: inline-block; float: left; padding: 0;
   font-size: 28px; }
 .bp-fin .val {
   display: inline-block; float: right; padding: 3px 3px 0 0;
   font-size: 57px; line-height: 67px; }

 #measuring-bp .processing-number { font-size: 4.4em; }
 #measuring-bp .x { z-index: 5000; }

 svg.svg-circle circle { stroke-dasharray: 1000; stroke-width: 4px; }
 svg.svg-circle .line:not([stroke-dashoffset]) { stroke-dashoffset: 1000; }
 svg.svg-circle .full:not([stroke-dashoffset]) { stroke-dashoffset: 0; }
 svg.svg-circle circle.line { z-index: 2; }
 svg.svg-circle circle.full { z-index: 1; stroke: rgba(0,0,0,.05); }

 #measuring-bp.tablet svg, #pressure-display.tablet:not(.fin) {
   width: 360px; height: 360px;
   margin: -180px 0 0 -180px; }
 #measuring-bp.tablet svg.svg-circle circle { stroke-dasharray: 1500; stroke-width: 15px; }
 #measuring-bp.tablet svg.svg-circle .line:not([stroke-dashoffset]) { stroke-dashoffset: 1500; }

 @media screen and (min-width: 480px) {
   #bp5-instructions, .device-help { font-size: 1.7em; }

   .bp-fin .clear { padding: 5px 0; }
   .bp-fin small { font-size: 15px; line-height: 20px; }
   .bp-fin .type { font-size: 33px; }
   .bp-fin .val { font-size: 67px; line-height: 70px; padding-top: 8px; }
 }
 @media screen and (min-width: 550px) {
   #bp5-instructions, .device-help { font-size: 1.9em; }
 }
 @media screen and (min-width: 580px) {
   .bp-fin .val { font-size: 73px; line-height: 81px; }
 }
 @media screen and (min-width: 700px) {
   .bp-fin .clear { padding: 14px 0; }
   .bp-fin small { font-size: 17px; }
   .bp-fin .type { font-size: 39px; }
   .bp-fin .val { font-size: 83px; line-height: 90px; padding-top: 0; }
 }
