
/**
  * This will override _core.scss
  */

/* Graph */
.bp-graph-title { padding: 0; margin: 0; }
.bp-graph-title.margin-t { padding: 10px 0 0; margin: 0; }


/**
 * @@@@
 * Chart
 * @@@@
 */

#measuring-bp { z-index: 5000; }
 #measuring-bp svg, #pressure-display:not(.fin) {
   margin: -120px 0 0 -120px;
   width: 240px; height: 240px;
   position: absolute; top: 50%; left: 50%; }
 #measuring-bp svg path { position: static; left: auto; top: auto; margin: 0; }
 #pressure-display.fin { padding: 0 0 40px; }

 #pressure-display .fa-cog {
   position: absolute; top: auto; left: auto; bottom: 0; right: 0;
   font-size: 35px; color: rgba(0,0,0,.1);
   width: 35px; height: 35px; }

 /* Device Help Guide */
 .devices-device-help {
   font-size: 1.45em; color: rgba(0,0,0,.55);
   width: 90%; max-width: 480px; padding: 68% 0 4%; margin: 0 auto;
   background-size: 100% auto; background-repeat: no-repeat; background-position: 50% 0;
 }

 /* BP5 Help Guide */
 #bp5-instructions { z-index: 5000; font-size: 1.45em; color: rgba(0,0,0,.55); }
 .bp5-help {
   width: 90%; max-width: 480px; padding: 68% 0 4%; margin: 0 auto;
   background-size: 100% auto; background-repeat: no-repeat; background-position: 50% 0; }
 .bp5-help.guide0 { background-image: url(/packages/ihealth_bp-ui/assets/help1.jpg); }
 .bp5-help.guide1 { background-image: url(/packages/ihealth_bp-ui/assets/help2.jpg); }
 .bp5-help.guide2 { background-image: url(/packages/ihealth_bp-ui/assets/help3.jpg); }
 .bp5-help.guide3 { background-image: url(/packages/ihealth_bp-ui/assets/help4.jpg); }
 .bp5-help.guide4 { background-image: url(/packages/ihealth_bp-ui/assets/help5.png); }

 #bp5-instructions .dots-root, .device-help .dots-root {
   position: absolute; bottom: 2.5%; left: 50%; right: auto; top: auto; z-index: 100;
   width: 280px; margin: 0 0 0 -140px; }

 /* Zones */
 #bp-chart { padding: 40px 30px 30px; }
 #bp-chart .inner {
   position: relative; padding: 100% 0 0;
   border-left: solid 1px #444; border-bottom: solid 1px #444;
 }

 #bp-chart .zone { position: absolute; bottom: 0; left: 0; top: auto; right: auto; }
 #bp-chart .zone0 { width: 40%; height: 40%; z-index: 5; }
 #bp-chart .zone1 { width: 60%; height: 60%; z-index: 4; }
 #bp-chart .zone2 { width: 80%; height: 80%; z-index: 3; }
 #bp-chart .zone3 { width: 100%; height: 100%; z-index: 2; }

 #bp-chart .zone .labelX, #bp-chart .zone .labelY {
   position: absolute; bottom: auto; right: auto;
   line-height: 1.2;
   width: 40px; }

 #bp-chart .zone .labelX {
   left: 100%; top: 100%;
   margin: 4px 0 0 -4px; }
 #bp-chart .zone .labelY {
   left: -48px; top: -10px;
   text-align: right; }

 #bp-chart .zone3 .labelX, #bp-chart .zone3 .labelY { width: 78px; }
 #bp-chart .zone3 .labelX { text-align: left; margin-left: -20px; }
 #bp-chart .zone3 .labelY { left: -84px; }

 #bp-chart .bubble {
   box-shadow: 0 0 10px rgba(0,0,0,.2);
   position: absolute; top: auto; right: auto; z-index: 10;
   font-size: 11px; line-height: 1; text-align: center;
   width: 80px; height: 80px;
   padding: 28px 0 0; margin: 0 0 10px -41px;
   background: #fff; }
 #bp-chart .bubble:before {
   display: block; content: " ";
   position: absolute; left: 50%; bottom: -11px;
 	width: 0; height: 0; margin: 0 0 0 -8px;
 	border-left: 8px solid transparent;
 	border-right: 8px solid transparent;
 	border-top: 13px solid #fff;
 }

 /* BP Result */
 .bp-fin {
   font-size: 13px;
   position: relative; vertical-align: bottom;
   max-width: 480px; padding: 0 5%; margin: 0 auto; }
 .bp-fin:first-child { padding-top: 25px; padding-bottom: 35px; }

 .bp-fin .clear {
   padding: 0;
   border-bottom: solid 1px rgba(0,0,0,.35); }

 .bp-fin small {
   font-size: 14px; line-height: 14px; color: rgba(0,0,0,.25);
   padding: 12px 2px 0; }
 .bp-fin .type {
   display: inline-block; float: left; padding: 0;
   font-size: 28px; }
 .bp-fin .val {
   display: inline-block; float: right; padding: 3px 3px 0 0;
   font-size: 57px; line-height: 67px; }

 #measuring-bp .processing-number { font-size: 4.4em; }
 #measuring-bp .x { z-index: 5000; }

 svg.svg-circle circle { stroke-dasharray: 1000; stroke-width: 4px; }
 svg.svg-circle .line:not([stroke-dashoffset]) { stroke-dashoffset: 1000; }
 svg.svg-circle .full:not([stroke-dashoffset]) { stroke-dashoffset: 0; }
 svg.svg-circle circle.line { z-index: 2; }
 svg.svg-circle circle.full { z-index: 1; stroke: rgba(0,0,0,.05); }

 #measuring-bp.tablet svg, #pressure-display.tablet:not(.fin) {
   width: 360px; height: 360px;
   margin: -180px 0 0 -180px; }
 #measuring-bp.tablet svg.svg-circle circle { stroke-dasharray: 1500; stroke-width: 15px; }
 #measuring-bp.tablet svg.svg-circle .line:not([stroke-dashoffset]) { stroke-dashoffset: 1500; }

 @media screen and (min-width: 480px) {
   #bp5-instructions, .device-help { font-size: 1.7em; }

   .bp-fin .clear { padding: 5px 0; }
   .bp-fin small { font-size: 15px; line-height: 20px; }
   .bp-fin .type { font-size: 33px; }
   .bp-fin .val { font-size: 67px; line-height: 70px; padding-top: 8px; }
 }
 @media screen and (min-width: 550px) {
   #bp5-instructions, .device-help { font-size: 1.9em; }
 }
 @media screen and (min-width: 580px) {
   .bp-fin .val { font-size: 73px; line-height: 81px; }
 }
 @media screen and (min-width: 700px) {
   .bp-fin .clear { padding: 14px 0; }
   .bp-fin small { font-size: 17px; }
   .bp-fin .type { font-size: 39px; }
   .bp-fin .val { font-size: 83px; line-height: 90px; padding-top: 0; }
 }
