
.grid-root { padding: 20px; }

.grid-half, .grid-third, .grid-quarter, .grid-three-quarter, .grid-three-fifth, .grid-two-fifth { float: left; }
.grid-full {}
.grid-three-quarter { width: 75%; }
.grid-three-fifth { width: 60%; }
.grid-two-fifth { width: 40%; }
.grid-half { width: 50%; }
.grid-third { width: 33.3333%; }
.grid-quarter { width: 25%; }
