
.left-nav { z-index: 5000; }
.left-nav .inner {
  position: absolute; z-index: 10;
  left: 0; top: 0; bottom: 0; right: auto;
  width: 250px; }

.left-nav.in .inner { @include animation(left-nav-in .25s 1); }
@include keyframes(left-nav-in) {
  0% { @include translate(-255px,0); }
	100% { @include translate(0,0); }
}

.left-nav.out .inner {
  @include translate(-255px,0);
  @include animation(left-nav-out .25s 1); }
@include keyframes(left-nav-out) {
	0% { @include translate(0,0); }
  100% { @include translate(-255px,0); }
}

.left-nav .back { background: rgba(0,0,0,.25); z-index: 1; }
.left-nav.in .back { @include animation(fade-in-animate .25s 1); }
.left-nav.out .back {
  @include opacity(0);
  @include animation(fade-out-animate .25s 1); }
