
@mixin sans($style) {
	font-family: "proxima-nova", sans-serif;
  @if $style=="regular" { font-weight: 400; }
  @if $style=="thin" { font-weight: 300; }
	@if $style=="thick" { font-weight: 700; }
}
@mixin sans_alt($style) {
	font-family: "effra", sans-serif;
  @if $style=="regular" { font-weight: 400; }
  @if $style=="thin" { font-weight: 300; }
	@if $style=="thick" { font-weight: 700; }
}

$text_color: rgba(0,0,0,.7);
$text_color_light: rgba(0,0,0,.5);
$text_color_light_reverse: rgba(255,255,255,.5);

$body_bg: #fff;
$brand: #0082ec;
$brand_trans: rgba(0,130,236,.95);
$brand_light: #f0f0f0;
$brand_light_trans: rgba(0,130,236,.15);
$color_on_brand: #fff;

$brand2: #f8593d;
$color_on_brand2: #fff;

$brand3: #2a2a2a;
$color_on_brand3: #fff;

$nav_color: #fff;
$color_on_nav: #f8593d;

$gnav_color_top: #fff;
$gnav_color_bottom: #fff;

$green: #2e9b3d;
$red: #ed3c3c;
$blue: #0077aa;
$cyan: #00978e;
$yellow: #fff247;

$width_desktop_wide: 1350px;
$width_desktop: 1100px;
$width_mobile: 900px;
$width_phone: 550px;
$width_phone_small: 375px;
$width_nav: 230px;
$height_nav: 50px;

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

@mixin transition($transition...) {
  transition: $transition;
  -webkit-transition: $transition;
}

@mixin animation($animate) {
	-webkit-animation: $animate;
	-moz-animation: $animate;
	animation: $animate;
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@mixin transform($transforms) {
	-moz-transform: $transforms;
	-o-transform: $transforms;
	-ms-transform: $transforms;
	-webkit-transform: $transforms;
	transform: $transforms;
}

@mixin rotate($deg) {
	@include transform(rotate(#{$deg}deg));
}

@mixin scale($scale...) {
	@include transform(scale($scale));
}

@mixin translate ($x, $y) {
	@include transform(translate($x, $y));
}

@mixin skew ($x, $y) {
	@include transform(skew(#{$x}deg, #{$y}deg));
}

@mixin transform-origin ($origin) {
	moz-transform-origin: $origin;
	-o-transform-origin: $origin;
	-ms-transform-origin: $origin;
	-webkit-transform-origin: $origin;
	transform-origin: $origin;
}

@mixin opacity($value){
  $IEValue: $value*100;
  opacity: $value; -khtml-opacity: $value;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
  filter: alpha(opacity=$IEValue);
}

@mixin box-shadow($value){
	-webkit-box-shadow: $value; -moz-box-shadow: $value; box-shadow: $value;
}

@import "packages/ihealth-webapp-framework/import";
@import "client/app/app.scss";
