
/**
 * Core.css - Common and reusable CSS classes
 */

/* Major DOM Elements */
body, div, main, figure, section, article, figcaption { padding: 0; margin: 0; }
p { padding: 0; margin: 0 0 12px; }

body, input, textarea, select, button {
  -webkit-appearance: none; }

input, textarea, button, select, div, main, p, section, figcaption, h1, h2, h3, h4, h5, h6, strong, span {
  outline: none; }
textarea { resize: none; }
* { @include box-sizing(border-box); }
img { max-width: 100%; max-height: 100%; }
header, main, section, article, figure { position: relative; }

::selection { background: #fee8a6; color: $brand; }
::-moz-selection { background: #fee8a6; color: $brand; }
.bg-brand ::selection, .bg-brand1 ::selection { background: $brand2; color: $color_on_brand2; }
.bg-brand ::-moz-selection { background: $brand2; color: $color_on_brand2; }
.bg-brand3 ::selection { color: $color_on_brand3; }
.bg-brand3 ::-moz-selection { color: $color_on_brand3; }

/* Important Common Elements */
.table { height: 100%; width: 100%; display: table !important; vertical-align: middle; }
.table .inside { display: table-cell; vertical-align: middle; overflow-x: hidden; }

.full-height { min-height: calc(100vh - #{$height_nav}); overflow-y: auto; }
.full-height.no-header { min-height: 100vh; }

.wrapper-wide, .wrapper, .wrapper-mobile, .wrapper-mini, .wrapper-popup, .re-wrapper {
  margin: 0 auto; }
.wrapper-wide { max-width: 1440px; }
.wrapper { max-width: 1280px; }
.wrapper-mobile { max-width: 1024px; }
.wrapper-mini { max-width: 700px; }
.wrapper-popup { max-width: 400px; }

.transition-slower { @include transition(all 2s ease); }
.transition-slow { @include transition(all 1s ease); }
.transition-medium { @include transition(all .4s ease); }
.transition { @include transition(all .25s ease); }
.transition-fast { @include transition(all .15s ease); }
.transition-bg { @include transition(background .25s ease); }
.transition-opacity { @include transition(opacity .25s ease); }
.round, .dot, .larr, .rarr { @include border-radius(50%); }
.dot {
  display: inline-block;
  background: rgba(0,0,0,.2);
  width: 8px; height: 8px; margin: 0 6px; }

.larr {
  position: relative; display: inline-block; vertical-align: middle;
  border: solid 1px $brand;
  width: 16px; height: 16px; margin: -3px 8px 0 0; }
.larr:before {
  display: block; content: " "; width: 0; height: 0;
  position: absolute; top: 4px; left: 5px;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-right: 5px solid $brand; }
.x {
  display: block; width: 40px; height: 40px;
  @include rotate(-45deg);
  position: absolute; top: 15px; right: 15px; left: auto; bottom: auto;
  cursor: pointer; }
.x:before, .x:after {
  position: absolute; left: 50%; top: 50%;
  @include border-radius(1px);
  background: #fff;
  display: block; content: " "; }
.x.black:before, .x.black:after { background: $text_color; }
.x:before { width: 28px; height: 2px; margin: -1px 0 0 -14px; }
.x:after { width: 2px; height: 28px; margin: -14px 0 0 -1px; }

.block { display: block; }
.inline-block { display: inline-block; }
.relative { position: relative; z-index: 2; }
.cursor, .clickHandler, button { cursor: pointer; }

.background { background-size: cover; background-position: 50%; }
.boxed { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.unselect, button { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; }
.ellipsis { display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.ellipsis.inline-block { display: inline-block; }
.overflow { overflow: hidden; }
.scroll { overflow-y: auto; overflow-x: hidden; }
.scroll-view { z-index: 5; overflow-y: auto; overflow-x: hidden; height: 100vh; }
.abs-full { position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 1; }
.fixed-full { position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 4; }
.abs-center { position: absolute; top: 50%; left: 50%; bottom: auto; right: auto; }

.clear:after { display: block; content: ' '; clear: both; visibility: hidden; }
.float-r { float: right; }
.float-l { float: left; }

.on-top { z-index: 10 !important; }
.on-top-middle { z-index: 20 !important; }
.on-top-higher { z-index: 30 !important; }

.padding { padding: 20px; }
.padding-mini { padding: 4px 0; }
.padding-t { padding-top: 15px; }
.padding-b { padding-bottom: 15px; }
.padding-tb { padding-top: 15px; padding-bottom: 15px; }
.padding-lr { padding-left: 15px; padding-right: 15px; }
.padding-none { padding: 0; }

.margin-t { margin-top: 15px; }
.margin-b { margin-bottom: 15px; }

.space-t { margin-top: 25px; }
.space-b { margin-bottom: 25px; }

.invis, .invis-0 { @include opacity(0); }
.invis-5 { @include opacity(.05); }
.invis-10 { @include opacity(.1); }
.invis-15 { @include opacity(.15); }
.invis-20 { @include opacity(.20); }
.invis-25 { @include opacity(.25); }
.invis-30 { @include opacity(.3); }
.invis-35 { @include opacity(.35); }
.invis-40 { @include opacity(.4); }
.invis-45 { @include opacity(.45); }
.invis-50 { @include opacity(.5); }
.invis-55 { @include opacity(.55); }
.invis-60 { @include opacity(.6); }
.invis-65 { @include opacity(.65); }
.invis-70 { @include opacity(.7); }
.invis-75 { @include opacity(.75); }
.invis-80 { @include opacity(.8); }
.invis-85 { @include opacity(.85); }
.invis-90 { @include opacity(.9); }
.invis-95 { @include opacity(.95); }

/* Colours */
.bg-brand-darker, .bg-brand1-darker, .bg-brand2-darker, .bg-brand3-darker,
.bg-brand, .bg-brand1, .bg-brand2, .bg-brand3, .bg-brand-light,
.bg-blue, .bg-white, .bg-dark, .bg-dim, .bg-bright, .bg-overlay
{ overflow-y: auto; }
.bg-brand-darker, .bg-brand1-darker { background-color: darken($brand, 5%) !important; }
.bg-brand, .bg-brand1 { background-color: $brand !important; }
.ba-brand:before, .ba-brand:after, .ba-brand1:before, .ba-brand1:after { background-color: $brand; }
.bg-brand-darker, .bg-brand1-darker, .bg-brand-darker a, .bg-brand1-darker a,
.bg-brand, .bg-brand1, .bg-brand a, .bg-brand1 a { color: $color_on_brand; }

.bg-brand2-darker { background-color: darken($brand2, 5%) !important; }
.bg-brand2 { background-color: $brand2 !important; }
.ba-brand2:before, .ba-brand2:after { background-color: $brand2; }
.bg-brand2, .bg-brand2 a, .bg-brand2-darker, .bg-brand2-darker a { color: $color_on_brand2; }

.bg-brand3-darker { background-color: darken($brand3, 5%) !important; }
.bg-brand3 { background-color: $brand3 !important; }
.ba-brand3:before, .ba-brand3:after, .ba-brand3-darker:before, .ba-brand3-darker:after { background-color: $brand3; }
.bg-brand3-darker, .bg-brand3-darker a, .bg-brand3, .bg-brand3 a { color: $color_on_brand3; }

.bg-nav { background-color: $nav_color; color: $color_on_nav; }
.ba-nav:before, .ba-nav:after, .bg-nav .back:before, .bg-nav .back:after { background-color: $color_on_nav; }
.bg-nav * { color: $color_on_nav; }
.bg-nav .more-nav * { color: $text_color; } /* This is a temporary solution */

.bg-none { background-color: none !important; }

.bg-brand-light { background-color: $brand_light; }
.dim { background-color: rgba(0,0,0,.1); }

.bg-blue { background-color: #0078ff; }
.bg-green { background-color: #69d356; }
.bg-yellow { background-color: #f5d141; }
.bg-orange { background-color: #e89544; }
.bg-red { background-color: #e41212; }
.bg-white { background-color: #fff; }
.bg-dark { background-color: $dark; }
.bg-dim { background-color: rgba(0,0,0,.25); }
.bg-bright { background-color: rgba(255,255,255,.25); }
.bg-overlay { background-color: rgba(255,255,255,.9); }

.brand, .brand1 { color: $brand; }
.brand-darker, .brand1-darker { color: darken($brand,5%); }
.border-brand, .border-brand1 { border-color: $brand; }
.svg-brand, .svg-brand1 { stroke: $brand; }

.brand2 { color: $brand2; }
.brand2-darker { color: darken($brand2,5%); }
.border-brand2 { border-color: $brand2; }
.svg-brand2 { stroke: $brand2; }

.brand3 { color: $brand3; }
.brand3-darker { color: darken($brand3,5%); }
.border-brand3 { border-color: $brand3; }
.svg-brand3 { stroke: $brand3; }

.light { color: $text_color_light; }
.color-on-brand { color: $color_on_brand !important; }

.blue { color: #0078ff; }
.green { color: #69d356; }
.yellow { color: #f5d141; }
.orange { color: #e89544; }
.red { color: #e41212; }
.white { color: #fff; }
.dark { color: #333; }
.gray { color: #ccc; }
.metal { color: #aaa; }


/* Typography */
h1, h2, h3, h4, h5, h6 { line-height: 1.2; padding: 0; }
h1 { font-size: 2em; margin: 26px 0 18px; }
h2 { font-size: 1.8em; margin: 22px 0 14px; }
h3 { font-size: 1.5em; margin: 18px 0 12px;  }
h1, h2, h3 { @include sans_alt(regular); }
h4, h5, h6 {
  margin: 12px 0;
  font-size: 1.25em;
  @include sans(regular); }

.alt { @include sans_alt(regular); }
.alt-thin { @include sans_alt(thin); }
.alt-thick { @include sans_alt(thick); }

.normal { @include sans(regular); }
.thin { @include sans(thin); }
.thick { @include sans(thick); }

.sub {
  @include sans_alt(thick);
  font-size: .75em; text-transform: uppercase; letter-spacing: .15em; }
.sub.center { text-indent: .15em; }

.right { text-align: right; }
.center { text-align: center; }
.uppercase { text-transform: uppercase; }

.spaced { letter-spacing: .2em; } .center .spaced { text-indent: .2em; }

.master-huge { font-size: 4em; }
.master-big { font-size: 3.4em; }
.master-middle { font-size: 2.8em; }
.master-small { font-size: 2.2em; }
.master-tiny { font-size: 1.6em; }

.bigger-title { font-size: 1.2em; }
.bigger-medium { font-size: 1.15em; }
.bigger { font-size: 1.1em; }

.smaller { font-size: .9em; }
.smallest { font-size: .85em; }
.tiny { font-size: .8em; }
.tiniest { font-size: .75em; }

.line-normal { line-height: 1.7; }
.line-average { line-height: 1.4; }
.line-short { line-height: 1.2; }
.line-single { line-height: 1; }

/**
 *
 * CORE - Mobile Responsive
 */
.mobile { display: none; }

@media screen and (max-width: $width_mobile) {
  .desktop { display: none; }
  .mobile { display: block; }

  body, input, textarea { font-size: 15px; }
  #app-root.android { @include sans(thin); }
}

@media screen and (max-width: $width_phone_small) {
  .padding { padding: 3.5%; }
  .space-t { margin-top: 6.4%; }
  .space-b { margin-bottom: 6.4%; }
}
