
.tabs-root { position: relative; }
.tabs-nav { position: relative; }
.tabs-nav .cursor {
  display: block; position: relative; float: left;
  min-height: 24px; padding: 7px 0;
  text-align: center; }

.tabs-nav .fa { z-index: 100; }
.tabs-nav .tabs-bar {
  position: absolute; bottom: 0;
  height: 3px;
  background: $brand2; }
.tabs-root .tab-pane { float: left; min-height: 100px; }

/* Theme - Regular */
.tabs-root.regular {
  margin: 20px;
  @include border-radius(0 0 5px 5px); }

@media screen and (max-width: $width_mobile) {
  .tabs-root.regular { margin: 0; @include border-radius(0); }
  .tabs-nav .cursor { min-height: 18px; padding: 10px 0; }
}

/* Theme - Nav Tabs */
.tabs-root.nav-tabs { padding: 38px 0 0; }
.tabs-root.nav-tabs .tabs-nav {
  width: $width_nav;
  position: fixed; top: $height_nav; left: 0; right: auto; z-index: 101;
}
.tabs-root.nav-tabs .tabs-nav .cursor { background: rgba(0,0,0,.08); }
.tabs-root.nav-tabs .tabs-nav .cursor:last-child { border: none; }
.tabs-root.nav-tabs .tabs-nav .tabs-bar {
  top: 0; height: auto;
  background: rgba(0,0,0,.08);
  margin: 0 -1px;
}
